 <div class="navbar-wagon">
  <div class="navbar-wagon-item">
    <!-- Logo -->
    <%= link_to dashboard_path do %>
    <% if Delivery.where(user_id: current_user, status: 'accepted').present? %>
    <div class="navbar-dot faa-burst animated">
    <p><%= Delivery.where(user_id: current_user, status: 'accepted').count%></p>
    </div>
    <% end %>
    <% end %>
    <%= link_to root_path, class: "navbar-wagon-logo" do %>
    <% if controller.action_name == "home"  %>
    <%= image_tag "parcel-logo.png" %>
    <% else %>
    <%= image_tag "deliverado-logo-text.png" %>
    <% end %>

    <% end %>
    </div
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle fa-2x" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"></i>
        <ul class="dropdown-menu navbar-wagon-dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 10px; left: 5px; transform: translate3d(-135px, 23px, 0px);">
          <li><%= link_to "My Dashboard", dashboard_path %> </li>
          <li><%= link_to "Pending Requests", requests_path %> </li>
          <li><%= link_to "Route Setup", routes_path %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>

    </div>

  </div>
