<h4>Order: <%= @delivery.request.order_number %></h4>

<div class="all">
  <div class="top">
    <div class="left">
      <h5>Store</h5>
      <i class="fas fa-store-alt store" style="font-size: 25px"></i>
    </div>
    <div class="right">
      <p><%= @delivery.request.store.store_name %></p>
      <p><%= @delivery.request.store.store_address %></p>
      <p><%= @delivery.request.store.store_city %></p>
      <p><%= @delivery.request.store.phone_number %></p>
    </div>
  </div>
  <div class="bottom">
    <div class="left">
      <h5>Customer</h5>
      <i class="fas fa-phone-square phone" style="font-size: 33px"></i>
    </div>
    <div class="right">
      <p class="first_line"><%= @delivery.request.name %></p>
      <p><%= @delivery.request.delivery_address %></p>
      <p><%= @delivery.request.city %></p>
      <p><%= @delivery.request.phone_number %></p>
    </div>
  </div>
</div>
<div class = "qr-code">
<%= raw @qr_code.as_html %>
</div>
<div class="all">
 <div class="buttons">
    <div class="go_back">
      <%= link_to "Go Back", dashboard_path, class: "btn btn-sec "  %>
    </div>
    <div class="start_navigation">
      <%= link_to "Start Navigation", nav_delivery_path(@delivery), class: "btn btn-primary start_navigation"  %>
    </div>
  </div>
</div>
