<h3>Order information for:</h3>
<p><%= @request.order_number %></p>


<div class="all">
  <div class="top">
    <div class="left">
      <h5>Store</h5>
      <i class="fas fa-store-alt store" style="font-size: 25px"></i>
    </div>
    <div class="right">
      <p><%= @request.store.store_name %></p>
      <p><%= @request.store.store_address %></p>
      <p><%= @request.store.store_city %></p>
      <p><%= @request.store.phone_number%></p>
    </div>
  </div>

  <div class="bottom">
    <div class="left">
      <h5>Customer</h5>
      <i class="fas fa-phone-square phone" style="font-size: 33px"></i>
    </div>
    <div class="right">
      <p class="first_line"><%= @request.name %></p>
      <p><%= @request.delivery_address %></p>
      <p><%= @request.city %></p>
      <p><%= @request.phone_number %></p>
    </div>
  </div>
</div>
<div class="map_request_show">
<%= render 'shared/maps' %>
</div>
<% if @request.status == "accepted" %>
<div class="buttons">
  <div class="go_back">
    <%= link_to "Go Back", dashboard_path, class: "btn btn-sec"  %>
  </div>
  <div class="start_navigation">
    <%= link_to "Start Navigation", edit_delivery_path, class: "btn btn-primary"  %>
  </div>
</div>

<% else %>
<div class="buttons">
  <div class="decline">
    <%= link_to "Decline", requests_path, class: "btn btn-sec"  %>
  </div>

  <div class="accept">
    <%= button_to "Accept", request_deliveries_path(@request.id), class: "btn btn-primary"  %>
  </div>
</div>
<% end %>

