<h3>Order information for:</h3>
<p><%= @request.order_number %></p>


<div class="all">
  <div class="top">
    <div class="left">
      <h5>Store</h5>
      <i class="fas fa-store-alt" style="font-size: 25px"></i>
    </div>
    <div class="right">
      <p><%= @request.store.store_name %></p>
      <p><%= @request.store.store_address %></p>
      <p><%= @request.store.store_city %></p>
    </div>
  </div>

  <div class="bottom">
    <div class="left">
      <h5>Customer</h5>
      <i class="fas fa-phone-square phone" style="font-size: 35px"></i>
    </div>
    <div class="right">
      <p class="first_line"><%= @request.name %></p>
      <p><%= @request.delivery_address %></p>
      <p><%= @request.city %></p>
      <p><%= @request.phone_number %></p>
    </div>
  </div>
</div>
<div class="map_request_show">
<%= render 'shared/maps' %>
</div>
<% if @request.status == "accepted" %>
 <div class="buttons">

  <%= link_to "Sign", edit_delivery_path, class: "btn btn-primary"  %>
    <p>or</p>
  <%= link_to "Go Back", dashboard_path, class: "btn btn-primary"  %>
</div>

<% else %>
<div class="buttons">

  <%= button_to "Accept", request_deliveries_path(@request.id), class: "btn btn-primary"  %>
  <p>or</p>
  <%= link_to "Decline", requests_path, class: "btn btn-primary"  %>
</div>
<% end %>

