<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

      <div class="form-banner ">1. Set up a commuter route. Enter a name and your home address:</div>
      <div class="form-card">
      <%= form_for :route, url: { action: "step_2"}, method: :get do |f| %>

      <div class="form-group">
        <%= f.label :name, 'Route Name:', class: "input-label" %>
        <%= f.text_field :name, class: "input-box" %>
      </div>

      <div class="form-group">
        <%= f.label :start_address, 'Enter your home address:', class: "input-label" %>
        <%= f.text_field :start_address, class: "input-box", id: "flat_address" %>
      </div>

      <div class="form-actions">
        <div class="btn-routes">
        <%= f.button :next, class: "btn btn-primary form-btn" %>
      </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Plain HTML example of the form ...
    <div class="row">
      <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
        <div class="form-card">
          <form action="http://www.deliverado.com" method="post">
            <div class="form-banner deliverado">deliverado</div>
            <div class="form-group">
              <label for="first_name">First name</label>
              <input type="text" class="form-control input-box" id="first_name" value="Timo">
            </div>
            <div class="form-group">
              <label for="last_name">Last name</label>
              <input type="text" class="form-control input-box" id="last_name" value="Piechotta">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control input-box" id="email" value="timo@piechotta.net">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
-->
