<br>
<%= render 'shared/maps' %>
 <div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="steps-form">

        <%= form_for :route, url: routes_path, method: :post do |f| %>

        <div class="form-inputs">
          <%= f.label :delivery_radius, 'Enter a delivery Radius (km):' %>
          <br>
          <%= f.text_field :delivery_radius, type: "text", data: {'slider-id' => 'ex1Slider', "slider-min" => 0, "slider-max" => 30, "slider-step" => 1 }, id: "route_radius"   %>
        </div>

        <br>
        <!--Route Name-->
        <div class="form-inputs">
          <%= f.label :name, 'Route Name:' %>
          <br>
          <%= f.text_field :name %>
        </div>

        <br>

        <%= f.hidden_field :start_address, value: params[:route][:start_address] %>
        <%= f.hidden_field :end_address, value: params[:route][:end_address] %>
        <div class="form-actions">
          <%= f.submit class: "btn full_btn"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
