<br>
<%= render 'shared/maps' %>
 <div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="steps-form">

        <%= form_for :route, url: { action: "step_2"}, method: :get do |f| %>

        <div class="form-inputs">
          <%= f.label :start_address, 'Enter your home address:' %>
          <%= f.text_field :start_address %>

        </div>
        <div class="form-actions">
          <%= f.submit class: "btn full_btn"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
