<% if @my_deliveries.where.not(status: 'delivered').exists? %>
<h4>Accepted delivery orders:</h4>
<% end %>
<div class="row">
  <% @my_deliveries.where.not(status: 'delivered').each do |delivery| %>
  <%= link_to delivery_path(delivery.id) do %>
  <div class="col-xs-12 col-sm-6 col-md-6">

    <% if delivery.request.store.store_name.include? "MediaMarkt" %>
    <div class="card-mediamarkt red">
      <div class="logo" style="background-image: url('<%= image_url "mediamarkt-logo.png" %>');background-size: cover;">
      </div>
      <div class="card-info">
        <p id="store-address">
          <%= delivery.request.store.store_address %>
        </p>
        <p id="card-name"><%= delivery.request.name %><br>in <%= delivery.request.city %></p>
          <p id="address">
            delivery between <%= delivery.request.time_from.strftime("%H:%M") %> - <%= delivery.request.time_to.strftime("%H:%M") %>
          </p>
        <div class="paket">
          <% if delivery.request.size == "S"  %>
            <%= delivery.request.size %>
            <i class="fas fa-box"></i>
          <% elsif delivery.request.size == "M"  %>
            <%= delivery.request.size %>
            <i class="fas fa-box size-m"></i>
          <% elsif delivery.request.size == "L"  %>
            <%= delivery.request.size %>
            <i class="fas fa-box size-l"></i>
          <% end %>
        </div>
      </div>
    </div>


    <% else %>
    <div class="card-saturn red">
      <div class="logo" style="background-image: url('<%= image_url "saturn-logo.png" %>');background-size: cover;">
      </div>
      <div class="card-info">
        <p id="store-address">
          <%= delivery.request.store.store_address %>
        </p>
        <p id="card-name"><%= delivery.request.name %><br>in <%= delivery.request.city %></p>
          <p id="address">
            delivery between <%= delivery.request.time_from.strftime("%H:%M") %> - <%= delivery.request.time_to.strftime("%H:%M") %>
          </p>
        <div class="paket">
          <% if delivery.request.size == "S"  %>
          <%= delivery.request.size %>
          <i class="fas fa-box"></i>
          <% elsif delivery.request.size == "M"  %>
          <%= delivery.request.size %>
          <i class="fas fa-box size-m"></i>
          <% elsif delivery.request.size == "L"  %>
          <%= delivery.request.size %>
          <i class="fas fa-box size-l"></i>
          <% end %>
        </div>
      </div>
    </div>

    <% end %>
  </div>
  <% end %>
  <% end %>
</div>

<% if @my_deliveries.where(status: 'delivered').exists? %>
<h3>Finished delivery orders:</h3>
<% end %>
<div class="row">
  <% @my_deliveries.where(status: 'delivered').each do |delivery| %>
  <%= link_to delivery_path(delivery.id) do %>
  <div class="col-xs-12 col-sm-6 col-md-6">

    <% if delivery.request.store.store_name.include? "MediaMarkt" %>
    <div class="card-mediamarkt green">
      <div class="logo" style="background-image: url('<%= image_url "mediamarkt-logo.png" %>');background-size: cover;">
      </div>
      <div class="card-info">
        <p id="store-address">
          <%= delivery.request.store.store_address %>
        </p>
        <p id="card-name"><%= delivery.request.name %><br>in <%= delivery.request.city %></p>
          <p id="address">
            delivered on <%= delivery.request.updated_at.strftime("%d.%m.%Y %k:%M") %>
          </p>
        <div class="paket">
          <% if delivery.request.size == "S"  %>
          <%= delivery.request.size %>
          <i class="fas fa-box"></i>
          <% elsif delivery.request.size == "M"  %>
          <%= delivery.request.size %>
          <i class="fas fa-box size-m"></i>
          <% elsif delivery.request.size == "L"  %>
          <%= delivery.request.size %>
          <i class="fas fa-box size-l"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="card-saturn green">
      <div class="logo" style="background-image: url('<%= image_url "saturn-logo.png" %>');background-size: cover;">
      </div>
      <div class="card-info">
        <p id="store-address">
          <%= delivery.request.store.store_address %>
        </p>
        <p id="card-name"><%= delivery.request.name %><br>in <%= delivery.request.city %></p>
          <p id="address">
            delivered on <%= delivery.request.updated_at.strftime("%d.%m.%Y %k:%M") %>
          </p>
        <div class="paket">
          <% if delivery.request.size == "S"  %>
          <%= delivery.request.size %>
          <i class="fas fa-box"></i>
          <% elsif delivery.request.size == "M"  %>
          <%= delivery.request.size %>
          <i class="fas fa-box size-m"></i>
          <% elsif delivery.request.size == "L"  %>
          <%= delivery.request.size %>
          <i class="fas fa-box size-l"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
  <% end %>
</div>
